<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.fidelitytranslations.common.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

    <context-param>
   	 <param-name>contextConfigLocation</param-name>
	    <param-value>
    		/WEB-INF/applicationContext-ws.xml
	   </param-value>
    </context-param>

  <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
  	<servlet-name>CXFServlet</servlet-name>
	<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
 	<servlet-name>CXFServlet</servlet-name>
	<url-pattern>/ws/*</url-pattern>
  </servlet-mapping>

  <display-name>Fidelity translations</display-name>
</web-app>
